{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <!-- Mount Balloonicorn's card on to this element. -->
  <div id="balloonicorn"></div>

  <!-- Mount Float's card on to this element. -->
  <div id="float"></div>

  <!-- Mount Llambda's card on to this element. -->
  <div id="llambda"></div>

  <!-- mount merkitten's card to this element -->
  <div id="merkitten"></div>

   <!-- Mount polymorphism's card to this element -->
   <div id="polymorphism"></div>
  
   <div id="reactCards"></div>
</div>

{% endblock %}